@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3px 2px 15px -3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 2px 15px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 2px 15px -3px rgba(0, 0, 0, 0.4);
  margin: 8rem;
  /* min-width: 40rem; */
}

h1 {
  text-align: center;
  font-size: 3rem;
}

#timer {
  /* background-color: gold; */
  font-size: 4.5rem;
  text-align: center;
  padding: 2rem;
  font-family: "Roboto Mono", monospace;
}

.buttons {
  /* background-color: aqua; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem;
  font-size: 1.25rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

#resetBtn {
  padding: 0.5rem;
  font-size: 0.75rem;
}

.markers {
  text-align: center;
}

ul {
  list-style: none;
}

.busy {
  background-color: gold;
}

.done {
  background-color: forestgreen;
}

li:before {
  content: "";
  margin-right: 0.5rem;
}

.busy:before {
  content: ">";
  margin-right: 0.5rem;
}

.done:before {
  content: "✓";
  margin-right: 0.5rem;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  main {
    padding: 1rem;
    margin: 0.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  #timer {
    font-size: 4rem;
    padding: 1rem;
  }

  button {
    width: 100%;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
